vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ServerEmailTransport vti_ServerIndexServer
vti_usagedownload:UX|27732 441496 226449 282963 301514 221017 254426 185659 280490 290195 413376 321548 320438
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_navbuttonnextlabel:SR|Next
vti_usagebyday:UX|213 201 282 165 362 124 271 231
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_usagehitsbyweek:UX|1224 5074 9191 7978 11878
vti_usagehitsbymonth:UX|3752 42630 20946 21615 22835 19917 20279 17434 23862 23617 30451 27553 23231
vti_usagevisitsbymonth:UX|1347 10246 7162 7112 8051 6929 6573 5929 6036 5367 8043 7929 6692
vti_usagelastmarker:SX|1047092 1047323 2006-02-07 04:59:14 168.144.191.205 GET /Orthodoxy/TroparionofSt.SavaSerbian.ht
vti_oldestcompatibleversion:SR|2.0.0.0
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp
vti_usagebyweek:UX|414 1692 2215 2265 2500
vti_structfrom_localhost\\c\:\\windows\\desktop\\donna's\\websvluka/c\:/windows/desktop/donna's/websvluka:TR|10 Mar 2002 05:54:08 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_autorecalc:IX|1
vti_usagelastupdated:TX|07 Feb 2006 04:59:59 -0000
vti_createpostinfo:BX|false
vti_navbuttonhomelabel:SR|Home
vti_structfrom_localhost\\c\:\\my documents\\my webs\\svluka/c\:/my documents/my webs/svluka:TR|01 Aug 2002 01:29:43 -0000
vti_htmlextensions:SX|.htm.html.htx.stm.stm.html.htm.shtml.shtm.htt.asp.alx.asa.
vti_structfrom_localhost\\c\:\\my documents\\construction web/c\:/my documents/construction web:TR|24 Jan 2002 02:46:55 -0000
vti_disableautoimgsizeexts:SX|.asp
vti_usageserverlastupdated:TX|07 Feb 2006 04:59:59 -0000
vti_insecureserverurl:SR|http://localhost
vti_usagevisitsbyweek:UX|414 1692 2215 2265 2500
vti_usagevisitsbyday:UX|213 201 282 165 362 124 271 231
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|0
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|Microsoft-IIS/5.1
vti_textextensions:SX|.txt.actproj.asm.c.cc.cod.cpp.cs.cxx.dbs.def.dsp.dsw.etp.ext.fky.h.hpp.hxx.i.idl.inc.inl.jsl.kci.lgn.lst.mak.map.mk.odh.odl.prc.rc.rc2.rct.rgs.rul.s.sol.sor.sql.srf.tab.tlh.tli.trg.txt.udf.udt.user.usr.vb.vcproj.viw.vspscc.vsscc.vssscc.
vti_textindexood:IR|0
vti_usagefirstdata:TX|01 Feb 2005 05:00:00 -0000
vti_timecreated:TR|23 Jan 2002 02:42:08 -0000
vti_usagelastformat:SX|1 3 4 G 
vti_usagehitsbyday:UX|662 562 617 645 684 582 691 785
vti_extenderversion:SR|5.0.2.4330
vti_navbuttonprevlabel:SR|Back
vti_usagebymonth:UX|1347 10246 7162 7112 8051 6929 6573 5929 6036 5367 8043 7929 6692
vti_secureserverurl:SR|https://localhost
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_copytimestamp_file\:///C\:/My Documents/My Webs/svluka:TR|03 Aug 2002 04:48:42 -0000
vti_usagelastlog:SX|e:\\InetPub\\Clients\\svluka.org\\w3svc2072214037\\ex0602.log
vti_defaultcharset:SR|windows-1252
vti_structfrom_localhost\\c\:\\my documents\\danica\\websvluka/c\:/my documents/danica/websvluka:TR|28 Jun 2002 05:54:14 -0000
vti_structto_localhost\\c\:\\my documents\\my webs\\svluka/c\:/my documents/my webs/svluka:TR|01 Aug 2002 01:29:43 -0000
vti_usernames:VR|
